header#header{
  font-family: $helvetica;
	position:relative;
	height:46px;
	width: flex-grid(12);
  background-color: #42f4b3;
  border-bottom: 1px solid $border-color;
  @include box-shadow($border-shadow);

  ul.top_nav{
    position: relative;
    float: left;

    list-style:none;

    li{
      display:inline;
      margin-left:25px;
      color: #a01010;

      a{
        font-size: 28px;
        color: darken(#ececec, 30%);
        text-decoration:none;
        padding: 3px 10px 4px;
        border: 1px solid transparent;
      }
    }
  }
}
