<td align="center">
  <a class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></span></a>
  <a class="btn btn-danger destroy"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
</td>
<td>{{ id }}</td>
<td>{{ name }}</td>
<td>{{ description }}</td>
<td>${{ price }}</td>

